<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p class="alert alert-info" data-ng-if="message.length">{{message}}</p>

<div class="row">
    <div class="col-md-12">
        <form>

            <div class="input-group">

                <span class="input-group-btn">
                    <a href="/pictures/add" class="btn btn-primary">Add picture</a>
                </span>

                <input type="text" class="form-control" placeholder="filter" data-ng-model="filter" data-ng-model-options="{debounce: 500}">
            </div>

        </form>
    </div>
</div>

<div class="row">
    <!--panel-->
    <my-panel class="col-md-2 animated-panel" data-ng-repeat="picture in pictures | filter:filter" title="{{picture.title}}">
        <my-picture url="{{picture.url}}" title="{{picture.title}}"></my-picture>
        <a href="/pictures/edit/{{picture._id}}" class="btn btn-primary btn-block">Edit</a>
        <button class="btn btn-danger btn-block" data-ng-click="delete(picture)">Delete</button>
    </my-panel>
    <!--end panel-->
</div>