body {
    font-family: 'Crimson Text', 'Times New Roman', serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
    /* 
    Ela controla o espaço entre as linhas de texto ou, mais precisamente, 
    qual a altura que uma linha de texto deve ter, independente do tamanho do 
    texto dentro dela.
    */
}

h1,
h2 {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

h1 {
    text-transform: uppercase;
}

.titulo-principal {
    text-align: center;
    color: #FFF;
    background-color: #851944;
    padding: 25px;
    border-bottom: 10px solid #000;
    font-size: 60px;
}

main h2 {
    font-size: 30px;
}

main a {
    color: #851944;
}

/* main div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
} */

/*  OU  */

.texto-principal {
    width: 720px;
    padding: 30px 0;
    margin: auto;
    /* um parametro aplica estilo so nas laterais */
}

p {
    text-align: justify;
    margin: 20px 0;
}

.citacoes {
    background-color: #D9E5E3;
    padding: 20px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
    /*
    Por padrão, o navegador mede a largura ignorando padding e bordas. 
    No momento em que colocamos BORDER-BOX, dizemos ao navegador que ele deve 
    considerar padding e bordas nesse cálculo. Então o elemento diminui pois 
    agora os 250 pixels que definimos de largura incluem os paddings e bordas 
    do elemento.  
    */
}

cite {
    float: right;
    font-style: italic;
}

.leia-mais {
    font-size: 120%;
    margin: 16px;
    padding: 8px;
    display: block;
    text-align: center;
    background: #e6e7e8;
}

.barra-navegacao {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    width: 15%;
    position: absolute;
    top: 310px;
    right: 0;
}

aside a {
    font-family: 'Open Sans Condensed', sans-serif;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

aside nav a {
    color: inherit;
    text-transform: lowercase;
}

article {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.links-sociais li {
    display: inline-block;
}

.links-sociais a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-indent: -99999px;
}

.github {
    background-image: url('./assets/github.png');
}

.twitter {
    background-image: url('./assets/twitter.png');
}

.linkedin {
    background-image: url('./assets/linkedin.png');
}

.footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.gravata-borboleta {
    border-top: 30px solid transparent;
    border-right: 30px solid red;
    border-bottom: 30px solid transparent;
    border-left: 30px solid red;
    width: 0;
}

.triangulo-reto {
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    width: 0;
}

/*
 a mudança de cor entre as bordas ocorre nas diagonais do elemento, então a 
borda inferior vai ficar com a aparência de um triângulo, desde que o elemento 
tenha zero pixels de largura (senão vai parecer um trapézio) 
*/

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}

.subtitulo-texto {
    clear: both;
}

main {
    /* float: left; */
    width: 85%;
    padding-bottom: 2%;
}

.minha-foto,
.barra-navegacao {
    /* float: right; */
    box-sizing: border-box;
    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}