<html>
    <title>Site Casa do Codigo</title>
    <body>
        <table>
            <tr>
                <td>id</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Livro NodeJS</td>
            </tr>
        </table>
    </body>
</html>